altgraph==0.17.5
charset-normalizer==3.4.7
packaging==26.2
pefile==2024.8.26
pillow==12.2.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
PyMuPDF==1.27.2.3
pypdf==6.12.2
pywin32-ctypes==0.2.3
reportlab==4.5.1
tkinterdnd2==0.4.4.1
